<template>
  <v-app dark>
    <v-content class="mx-5">
		<Toolbar></Toolbar>
        <router-view/>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Toolbar from './components/toolbar.vue';
import users from './store/modules/users';

@Component({
	components: {
		Toolbar,
	},
})
export default class App extends Vue {}
</script>
