<template>
	<div class="home">
		<MovieList/>
	</div>
</template> 

<script lang="ts">
import Component from 'vue-class-component';
import Vue from 'vue';
import MovieList from '@/components/MovieList.vue';

@Component({
	components: {
		MovieList,
	},
})

export default class HomeVue extends Vue {}
</script>


