<template>
	<v-form
    ref="form"
    v-model="valid"
  >
  	<br>
    <v-text-field
	  v-model="movie.name"
      label="Name"
      required
    ></v-text-field>
	
    <v-text-field
	  v-model="movie.description"
      label="Description"
      required
    ></v-text-field>
    <v-text-field
	  v-model="movie.genere"
      label="Genere"
      required
    ></v-text-field>

    <v-btn
      color="success"
      @click="create()"
    >
	Create
    </v-btn>
  </v-form>

</template>

<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator';
import { IMovie } from '../store/models';
import movies from '@/store/modules/movies';

@Component
export default class createMovie extends Vue {
	public movie: IMovie = {} as IMovie;

	private async create() {
		try {
			movies.createMovie({
				name: this.movie.name,
				description: this.movie.description,
				genere: this.movie.genere,
				actors: [{
					actors_id: 5
				},
				{
					actors_id: 6
				}]
			});
		} catch (err) {
			console.error(err);
		}
	}

	private home() {
		this.$router.push({
			name: 'list',
		});
	}
}
</script>
