<template>
	<v-form
		ref="form"
		lazy-validation
	>
		<v-text-field
			v-model="username"
			label="E-Mail"
			required
			></v-text-field>
		<v-text-field
      		v-model="password"
      		label="Password"
			:append-icon="show1 ? 'visibility' : 'visibility_off'"
			:type="show1 ? 'text' : 'password'"
      		required
    		></v-text-field>
		 <v-btn
      		color="success"
      		@click="login"
			> Login </v-btn>
	</v-form>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';
import users from '@/store/modules/users';

@Component
export default class Login extends Vue {
	public show1 = false;

	private username: string = '';
	private password: string = '';

	private async login() {
		users.login({
			email: this.username,
			password: this.password,
		});
		this.home();
	}

	private home() {
		this.$router.push({
			name: 'list',
		});
	}

}
</script>
