<template>
	<div class='movie-details' >
		<h1>Movie Details </h1>
		<span class="font-weight-bold">ID: </span> <span> {{ movie.id }}  </span>
		<br>
		<span> Name:  {{ movie.name }}  </span>
		<br>
		<span> Description:  {{ movie.description }}  </span>
		<br>
		<span> Genere:  {{ movie.genere }}  </span>
		<div v-if="length != 0">
			<p>Actors: </p>
			<li v-for="actor in movie.actors">
				{{ actor.name }}
				{{ actor.lastname }}
			</li>
		</div>
		<br>
		<v-btn color="info" @click="back()">BACK</v-btn>
		<v-btn v-if="LoggedIn" color="info" @click="back()">EDIT</v-btn>
		<v-btn v-if="LoggedIn" color="danger" @click="deleteMovie()">DELETE</v-btn>
	</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import axios from 'axios';
import { IMovie } from '../store/models';
import users from '../store/modules/users';
import movies from '@/store/modules/movies';

@Component
export default class Movie extends Vue {
	public movie: IMovie = {} as IMovie;
	public length: number = 0;
	public id: string = '';

	private async created() {
		this.id = this.$route.params.id;
		const response = await movies.getMovie(this.id);
		if (response !== null) {
			this.movie = response;
			this.length = await this.movie.actors.length;
		}
	}

	get LoggedIn() {
		return users.logged;
	}

	private deleteMovie() {
		movies.deleteMovie(this.movie);
		this.back();
	}

	private back() {
		this.$router.push({
			name: 'list',
		});
	}
}

</script>
