<template>
	<div class='movie-list'>
		<v-card class="mx-4">
      		<v-responsive :aspect-ratio="16/9">
				<h1 class="text-md-center">Movies</h1>
				<v-list class="mx-4">
					<v-list-tile
						v-for="movie in movies"
						:key="movie.id"
						@click="details(movie.id)"
					>
					<h3>{{ movie.name }}</h3>
					</v-list-tile>
				</v-list>
      		</v-responsive>
    	</v-card>
	</div>
</template>


<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import axios from 'axios';
import { IMovie } from '@/store/models';
import movies from '@/store/modules/movies';

@Component
export default class MovieList extends Vue {
	public movies: IMovie[] | null = null;

	private async created() {
		this.movies = await movies.getMovies();
	}

	private details(id: number) {
		const Sid = String(id);
		this.$router.push({
			name: 'movie',
			params: {
				id: Sid,
			},
		});
	}
}

</script>
