<template>
    <v-toolbar dark app>
      <v-toolbar-title class="headline text-uppercase" @click="home">
        <span>MovieDB  </span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
	  <div v-if="!LoggedIn">
     	 <v-btn flat @click='login'>
     	   <span class="mr-2">Log In</span>
     	 </v-btn>
     	 <v-btn flat @click='login'>
     	   <span class="mr-2">Register</span>
     	 </v-btn>
	  </div>
	  <div v-if="LoggedIn">
     	 <v-btn flat @click='logout'>
     	   <span class="mr-2">Log out</span>
     	 </v-btn>
	  </div>
	  <div v-if="LoggedIn">
     	 <v-btn flat @click='create'>
     	   <span class="mr-2">NEW MOVIE</span>
     	 </v-btn>
	  </div>
    </v-toolbar>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import users from '../store/modules/users';

@Component
export default class Toolbar extends Vue {

	private token: string = '';
	private showRegister: boolean = true;

	get LoggedIn() {
		return users.logged;
	}

	private logout() {
		users.logout();
	}

	private login() {
		this.$router.push({
			name: 'login',
		});
	}

	private create() {
		this.$router.push({
			name: 'createmovie',
		});
	}
	
	private home() {
		this.$router.push({
			name: 'list',
		});
	}

}
</script>
